.catalog-link {
  position: relative;

  margin: 0 20px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: @basic-grey;
  min-height: 266px;
}

.catalog-link:not(:last-child) {
  margin-bottom: 20px;
}

.catalog-link__titlel {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  padding-left: 71px;
  margin: 0;
  padding-bottom: 29px;

  &::before {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: @basic-green;

    top: 24px;
    left: 22px;
  }

  &--slim::after {
    content: "";
    position: absolute;
    background-image: url("./../../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 50px;

    top: 21px;
    left: 29px;
  }

  &--plus::after {
    content: "";
    position: absolute;
    background-image: url("./../../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    width: 67px;
    height: 28px;

    left: 13px;
    top: 35px;
  }
}

.catalog-link__description {
  font-family: @arial;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 23px;

  border-bottom: 1px solid @grey-border;
}

.catalog-link__button {
  position: relative;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &::after {
    position: absolute;
    content: "";

    top: 6px;
    margin-left: 17px;

    width: 24px;
    height: 12px;

    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    width: 32px;

    background-image: url("../../img/icon-right-arrow-verylong.svg");
    transition: 0.1s ease-in-out;
  }

  &:active::after {
    opacity: 0.3;
  }
}
