.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 28px;
  margin-bottom: 32px;

  color: @special-dark-grey;
}

.copyright__icon {
  fill: rgb(102, 102, 102);
}
