.form-main__title {
  .title;
}

.form-main__text {
  font-family: @basic-fonts;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  padding-top: 37px;
  padding-left: 20px;
  padding-right: 30px;
  margin: 0;
}

.form-main__wrap {
  //padding: 39px 20px 32px 20px;
}
