.form-main__wrap {
  @media (min-width: @desktop) {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    padding-top: 66px;
    padding-bottom: 69px;
    padding-left: 111px;
    padding-right: 110px;

    max-width: 1440px;
    margin: 0 auto;
  }
}

.form-main__title {
  .title;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;

    padding: 0;
    padding-top: 64px;
    padding-left: 29px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktop) {
    padding-top: 73px;
    padding-left: 110px;
    padding-bottom: 56px;
  }
}

.form-main__text {
  font-family: @basic-fonts;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  padding-top: 37px;
  padding-left: 20px;
  padding-right: 30px;
  margin: 0;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;

    padding: 0;
    padding-left: 70px;
    padding-right: 320px;
  }

  @media (min-width: @desktop) {
    padding-left: 110px;
    padding-right: 1000px;
  }
}
