.gift__wrap {
  position: relative;
  margin: 39px 0 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;

  background-image: url("./../../img/gift-photo-mobile@1x.jpg");
  background-color: @basic-green;
  width: 280px;
  height: 289px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.gift__present {
  position: absolute;
  fill: @white;

  top: 58px;
}

.gift__text {
  font-family: @arial;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  width: 161px;

  padding-bottom: 43px;
  margin: 0;
}
