.guide {
  padding: 0 20px 20px;
  padding-top: 27px;

  @media (min-width: @tablet) {
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 108px;
    padding-bottom: 9px;
  }

  @media (min-width: @desktop) {
    padding-bottom: 0;
    padding-top: 71px;
    padding-left: 110px;
    padding-right: 109px;
  }
}

.guide__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  font-family: @basic-fonts;

  margin: 0;
  padding-bottom: 38px;

  @media (min-width: @tablet) {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;

    padding-bottom: 32px;
  }
}

.guide__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet) {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
}

.guide__item {
  position: relative;
  display: flex;

  color: @special-dark-grey;
  font-family: @arial;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  padding-bottom: 20px;

  @media (min-width: @tablet) {
    flex-direction: column;

    font-size: 16px;
    line-height: 24px;

    width: 246px;
    min-height: 280px;
    margin-bottom: 37px;

    padding-top: 40px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop) {
    margin: 0;
  }

  &::before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50px 50px;
    background-color: @basic-green;
    padding-right: 60px;
    margin-right: 20px;

    @media (min-width: @tablet) {
      width: 80px;
      height: 80px;

      padding-right: 80px;
      margin-bottom: 31px;
    }
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.guide__number {
  display: none;

  @media (min-width: @tablet) {
    display: block;
    position: absolute;
    z-index: -1;

    font-family: @basic-fonts;
    font-size: 280px;
    line-height: 1;
    color: @basic-grey;

    left: 114px;
    top: 0;
  }

  @media (min-width: @desktop) {
    left: 114px;
  }
}
