/*.header-page__wrap {
  background-color: @white;
  color: @black;

  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 17px;

  @media (min-width: @tablet) {
    border-bottom: none;

    padding-top: 24px;
    padding-left: 30px;
    padding-bottom: 0;
  }
}*/
.header-page {
  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.header-page__img-logo {
  width: 191px;
  height: 38px;

  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 17px;

  @media (min-width: @tablet) {
    width: 174px;
    height: 52px;

    margin: 24px 94px 0 30px;
  }
}

.header-page__logo {
  &[href]:hover .header-page__img-logo {
    opacity: 0.8;
  }

  &[href]:active .header-page__img-logo {
    opacity: 0.5;
  }
}
