.intro {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: @tablet) {
    max-width: 800px;
    align-items: stretch;
    margin: 0 auto;
  }

  @media (min-width: @desktop) {
    max-width: none;
    margin: 0;
    min-height: 585px;
    width: 100%;
  }
}

.intro__wrap {
  @media (min-width: @tablet) {
    padding-top: 63px;
    padding-left: 117px;
  }

  @media (min-width: @desktop) {
    padding-top: 110px;
    padding-left: 190px;
    margin: 0 auto;
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    margin-left: -50%;
    margin-right: -50%;
    left: 50%;
    right: 50%;

    height: 305px;
    width: 100%;

    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: @basic-green;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }

    @media (min-width: @tablet) {
      display: none;
    }

    @media (min-width: @desktop) {
      display: block;
      position: absolute;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: cover;
      width: 50%;
      height: 694px;
      margin: 0;

      right: 0;
      left: 50%;

      top: -113px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.intro__img-chicken {
  @media (min-width: @tablet) {
    width: 709px;
    height: 608px;

    margin: 0;
    margin-left: 29px;
  }

  @media (min-width: @desktop) {
    width: 552px;
    height: 499px;

    position: absolute;
    margin: 0;

    left: 558px;
    top: 28px;
  }
}

.intro__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @white;

  max-width: 280px;
  margin: 0;
  margin-top: 27px;
  padding: 0;

  @media (min-width: @tablet) {
    color: @black;

    font-family: @basic-fonts;
    font-weight: normal;
    text-align: left;
    font-size: 60px;
    line-height: 60px;

    min-width: 414px;
    margin: 0;
  }
}

.intro__slogan {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @white;
  text-transform: uppercase;
  text-align: center;

  margin: 0;
  margin-bottom: 28px;

  padding: 0;
  padding-top: 25px;

  @media (min-width: @tablet) {
    color: @black;

    font-family: @basic-fonts;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;

    padding-top: 41px;
    padding-bottom: 20px;
    padding-left: 1px;
    margin: 0;
  }

  @media (min-width: @desktop) {
    padding: 0;
    padding-top: 40px;
  }
}

.intro__link {
  margin-top: 2px;
  margin-bottom: 22px;
  .button;

  @media (min-width: @tablet) {
    position: absolute;
    left: 112px;
    top: 293px;

    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;

    margin: 0;
    padding: 17px 0;

    width: 244px;
  }

  @media (min-width: @desktop) {
    top: 342px;
    left: 190px;
  }
}
