//field

.personal {
  border: none;
  font-family: @basic-fonts;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;
  color: @special-dark-grey;

  padding: 39px 20px 12px 19px;
  margin: 0;
  min-width: 280px;

  display: flex;
}

.personal__wrap {
  //display: flex;
  //justify-content: flex-start;
  //align-items: baseline;
  padding-bottom: 15px;
}

.personal__field-name,
.personal__field-weight,
.personal__field-age {
  .input__text;
  margin-left: 12px;
  padding-left: 15px;
}

.personal__field-name {
  width: 227px;
  height: 45px;
}

.personal__field-weight {
  width: 205px;
  height: 45px;
}

.personal__field-age {
  width: 172px;
  height: 45px;
}

//radio

.personal__tipe {
  position: relative;
  display: flex;

  border: none;
  font-family: @basic-fonts;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;
  color: @special-dark-grey;

  padding: 27px 20px 29px 20px;
  margin: 0;

  border-top: 1px solid @grey-border;
  border-bottom: 1px solid @grey-border;
}

.personal__radio:not(:last-child) {
  padding-bottom: 25px;
}

.personal__radio {
  padding-left: 45px;
}

.personal__radio-tipe + .personal__radio::before {
  .radio;
  top: 21px;
  left: 20px;
}

.personal__radio-weight + .personal__radio::before {
  .radio;
  top: 64px;
  left: 20px;
}

.personal__radio-option + .personal__radio::before {
  .radio;
  top: 107px;
  left: 20px;
}

.personal__radio-shape:checked + .personal__radio::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: @basic-green;
  border-radius: 50%;
  left: 26px;
}

.personal__radio-shape:disabled + .personal__radio::after {
  background-color: rgba(59, 183, 56, 0.3);
}

.personal__radio-shape:hover + .personal__radio::before {
  border-color: rgb(186, 186, 186);
}

.personal__radio-shape:focus + .personal__radio::before {
  border-color: rgb(186, 186, 186);
}

.personal__radio-shape:disabled + .personal__radio::before {
  border-color: rgba(186, 186, 186, 0.3);
}

//contact

.personal__contact {
  border: none;
  display: flex;
  flex-direction: column;

  margin: 0;
  padding-top: 26px;
  padding-left: 19px;
  padding-right: 20px;
}

.personal__contact-title {
  position: relative;
  font-family: @basic-fonts;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;

  margin: 0;
  padding-bottom: 32px;

  width: 187px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: @basic-green;
    width: 1000%;
    height: 2px;

    top: 15px;
    left: 203px;
  }
}

.personal__contact-form {
  position: relative;
  font-family: @basic-fonts;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: @special-dark-grey;
}

.personal__contact-email,
.personal__contact-tel {
  .input__text;
  padding-left: 15px;
}

.personal__contact-email {
  width: 219px;
  height: 45px;

  margin-bottom: 14px;
  margin-left: 9px;
}

.personal__contact-tel {
  margin-left: 7px;
  width: 204px;
  height: 45px;
}

.personal__svg-email {
  position: absolute;
  top: 16px;
  left: 245px;
}

.personal__svg-tel {
  position: absolute;
  top: 13px;
  left: 247px;
}

.personal__contact-form .personal__svg-email{
  &:focus,
  &:active {
  fill: @basic-green;
  outline: 0;
  }
  &:invalid {
    fill: @invalid;
  }
}

//comment

.personal__comment {
  margin-left: 20px;
}

.personal__comment-title {
  position: relative;
  font-family: @basic-fonts;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;

  padding: 0 20px;
  padding-bottom: 24px;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    background-color: @basic-green;
    width: 200%;
    height: 2px;

    top: 15px;
    left: 175px;
  }
}

.personal__comment-field {
  border: 1px solid @grey-border;
  min-width: 280px;
  height: 150px;
  resize: none;

  margin: 0 20px;
  padding-top: 13px;
  padding-left: 15px;

  font-family: @basic-fonts;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
}

//add

.personal__add {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.personal__add-title {
  position: relative;
  font-family: @basic-fonts;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;

  margin: 0;
  padding-top: 27px;
  padding-bottom: 34px;

  &::before {
    content: "";
    position: absolute;
    background-color: @basic-green;
    width: 200%;
    height: 2px;

    top: 40px;
    left: 173px;
  }
}

.personal__checkbox {
  font-family: @basic-fonts;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.personal__checkbox:not(:last-child) {
  padding-bottom: 12px;
}

//personal__submit

.personal__submit {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 34px 20px 32px;
}

.personal__submit-button {
  .button;
  //margin-top: 34px;
}

.personal__submit-text {
  font-family: @arial;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  padding-top: 21px;
}
