.button() {
  border: none;
  font-style: normal;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 280px;
  padding-top: 7px;
  padding-bottom: 7px;

  color: @white;
  background-color: @basic-green;
}
