.button() {
  border: none;
  font-style: normal;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 280px;
  padding-top: 7px;
  padding-bottom: 7px;

  color: @white;
  background-color: @basic-green;

  &:hover {
    background-color: @special-green;
  }

  &:active {
    background-color: @special-green;
    color: rgba(255, 255, 255, 0.3);
  }
}

.title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @black;

  margin: 0;
  padding-top: 27px;
  padding-left: 20px;
}

.input__text {
  border: 1px solid rgb(231, 231, 231);

  font-family: @basic-fonts;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;

  &:hover {
    border: 1px solid @grey-border-value;
    outline: 0;
  }

  &:focus,
  &:active {
    border: 2px solid @special-dark-grey;
    outline: 0;
  }

  &:invalid {
    border: 2px solid @invalid;
  }
}

.radio {
  position: absolute;
  content: "";
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid @grey-border-value;
  background-color: @white;
  border-radius: 50%;
}
